<h1>Courses</h1>


{{#each courses}}
<br>
{{this.name}}
<br>
{{this.type}} 
<br> 
<a href="/courses/{{this.id}}">details</a>
<br> 

{{/each}}


<a class="btn btn-primary" href="/courses/new">Create new course</a>
